<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Radio stations
    </ion-title>
    <ion-buttons end>
      <button (click)="showMenu($event)" ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab *ngIf="!error && !!stations" right bottom>
    <button ion-fab mini><ion-icon name="musical-note"></ion-icon></button>
    <ion-fab-list side="left">
      <button color="secondary" ion-fab (click)="onAddClick()"><ion-icon name="add"></ion-icon></button>
      <button color="secondary" ion-fab (click)="volumeUp()"><ion-icon name="volume-up"></ion-icon></button>
      <button color="secondary" ion-fab (click)="volumeDown()"><ion-icon name="volume-down"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div *ngIf="error; else list" style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center">
    <h1 class="connection-error">Connection error</h1>
  </div>
  <ng-template #list>
    <ion-list>
      <button ion-item (click)="onClick(station)" *ngFor="let station of stations">
        {{station.name}}
        <ion-icon *ngIf="playingStation && playingStation._id == station._id" name="play" item-end></ion-icon>
      </button>
    </ion-list>
  </ng-template>
</ion-content>